$buttonColor: #b4dfdf;

.buttons,
.container,
.trafficLight {
	margin: 0 auto;
}

.buttons {
	width: auto;

	& div {
		background-color: $buttonColor;
		border: 1px solid #333;
		border-radius: 5px;
		cursor: pointer;
		text-align: center;
		margin-top: 5px;
		padding: 5px;

		&:hover {
			background-color: lighten($buttonColor, 10%);
		}
		&:active {
			background-color: lighten($buttonColor, 20%);
		}
	}
}
.container {
	width: 35%;
	border: 1px solid #333;
	border-radius: 5px;
}

.trafficLight {
	height: 0;
	padding-top: 45.45%;
	width: 20%;
	background-repeat: no-repeat;

	&.red {
		background-image: url("/includes/img/traffic-lights-RED.jpg");
	}
	&.green {
		background-image: url("/includes/img/traffic-lights-GREEN.jpg");
	}
	&.yellow {
		background-image: url("/includes/img/traffic-lights-YELLOW.jpg");
	}
}

row.div {
	margin: 0 auto;
}
